*{
    margin: 0;
    padding: 0;
}

body{
    background: url('image/Space.jpg');
}

.nav{
    background-color: none;
    overflow: hidden;
    margin: 50px 150px;;
}

.container{
    width:800px;
    margin: 150px;
    margin-top: 200px;
}

h4,h1{
    color: white;
    font-size: 25px;
}

h1{
    padding-top:15px;
    font-size: 70px;
    line-height: 4rem;
}

a{
    color: white;
    line-height: 6rem;
    font-size: 25px;
}

 .fa-arrow-circle-o-down{
    color: #ffffff;

}

a:hover{
    color: #3971D3;
}

a .fa-arrow-circle-o-down:hover{
    color: #3971D3;
}


.download-app img{
        position: fixed;
        bottom: 0;
        right: 20px;
        width: 400px;
        height:150px;
}


